<a href="https://colab.research.google.com/github/ALINA-AFZAL/ALINA-AFZAL/blob/main/class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print (type(name))
print (type(age))
print (type(height))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
name = input ("enter your name :")
age = input ("enter your age :")
height = input ("enter your height :")

print ("The user name is", name, "and her age is", age, "and height is", height)

enter your name :alina
enter your age :19
enter your height :5
The user name is alina and her age is 19 and height is 5

In [ ]:
#string
name = input ("enter your name :")
#int
age = int(input ("enter your age :"))
#float
height = float(input ("enter your height :"))

print ("The user name is", name, "and her age is", age, "and height is", height)

enter your name :Alina
enter your age :19
enter your height :5
The user name is Alina and her age is 19 and height is 5.0

In [ ]:
print (type(name))
print (type(age))
print (type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
num1 = int(input("Enter first number :"))
num2 =int(input("Enter second number :"))

print("The numbers are ", num1,",",num2)
#addition
add = num1 + num2
print(add)

#subtraction
sub = num1 - num2
print(sub)

#multiplication
mul = num1 * num2
print(mul)

#division
div = num1 / num2
print(div)

Enter first number :5
Enter second number :4
The numbers are  5 , 4
9
1
20
1.25

In [ ]:
print("**************************************** Report card of 1st Student ******************************************")
name1 = input("Enter name of a student :")
age1 = int(input("Enter an age of student :"))
subject = input("Write your subjects: ")
grade = input("Student's grade: ")

print("Name of student:",name1,",",
      "Age of student:",age1,",",
      "Subject:",subject,",",
      "Student's grade:",grade,)
print("=============================================================================================================")

print("**************************************** Report card of 2nd Student ******************************************")
name2 = input("Enter name of second student :")
age1 = int(input("Enter an age of second student :"))
subject = input("Write your subjects: ")
grade = input("Student's grade: ")

print("Name of student:",name1,",",
      "Age of student:",age1,",",
      "Subject:",subject,",",
      "Student's grade:",grade,)
print("==============================================================================================================")

**************************************** Report card of 1st Student ******************************************
Enter name of a student :Aishba
Enter an age of student :20
Write your subjects: Accounting
Student's grade: A+
Name of student: Aishba , Age of student: 20 , Subject: Accounting , Student's grade: A+
=============================================================================================================
**************************************** Report card of 2nd Student ******************************************
Enter name of second student :Fatima
Enter an age of second student :19
Write your subjects: Accounting
Student's grade: A+
Name of student: Aishba , Age of student: 19 , Subject: Accounting , Student's grade: A+
==============================================================================================================