<a href="https://colab.research.google.com/github/ALINA-AFZAL/Python-Learning/blob/main/class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Task
# Is it even or odd:

num1 = int(input("Enter any number for checking whether it is even or odd"))

#conditions
if num1%2==0:
 print(num1, "is even number.")
else :
 print(num1, "is odd number.")

Enter any number for checking whether it is even or odd3
3 is odd number.

In [ ]:
for i in range(1,20,3):
  print(i)

1
4
7
10
13
16
19

In [ ]:
#table of 2:
for i in range(1,11,1):
  print("2 *", i , "=", i*2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
#any table:
tablenumber = int(input("Enter any number for the table."))
for i in range(1,11,1):
  print( tablenumber, "*", i, "=", tablenumber*i)

Enter any number for the table.6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
startnumber = int(input("Enter the number where you want to start:"))
stopnumber = int(input("Enter the number where you want to stop:"))

for i in range(startnumber, stopnumber, 1):
  print(i)

Enter the number where you want to start:1
Enter the number where you want to stop:7
1
2
3
4
5
6

In [ ]:
#
print("********************************REPORT CARD*********************************")
lastnumber = int(input("Enter the total number of students"))
for i in range(1, lastnumber+1, 1):
  name = input("Enter your name:")
  print(name)
  english = int(input("Marks of English:"))
  science = int(input("Marks of Science:"))
  maths = int(input("Marks of Maths:"))
  islamiat = int(input("Marks of Islamiat:"))
  computer = int(input("Marks of Computer:"))

  obtainedmarks = english + science + maths + islamiat + computer
  print("Obtained Marks: ", obtainedmarks)

  totalmarks = 500
  print("totalmarks:", totalmarks)

  percentage = obtainedmarks/totalmarks * 100
  print("percentage: ", percentage)

  if (percentage > 80 ):
    print("A+ Grade", "Outstanding Performance!")
  elif (percentage > 70):
    print("A Grade", "Excellent Result!")
  elif (percentage > 60):
    print ("B Grade", "Good Result! Keep it up!")
  else:
    print ("Fail, Keep up the hard work!")
print("********************************************************************")

********************************REPORT CARD*********************************
Enter the total number of students2
Enter your name:Alina
Alina
Marks of English:34
Marks of Science:56
Marks of Maths:8
Marks of Islamiat:4
Marks of Computer:34
Obtained Marks:  136
totalmarks: 500
percentage:  27.200000000000003
Fail, Keep up the hard work!
Enter your name:AMria
AMria
Marks of English:78
Marks of Science:56
Marks of Maths:89
Marks of Islamiat:90
Marks of Computer:70
Obtained Marks:  383
totalmarks: 500
percentage:  76.6
A Grade Excellent Result!
********************************************************************

In [ ]:
name = input("Enter your name:")
for i in name:
 print(i)

Enter your name:Alina
A
l
i
n
a

In [ ]:
name = input("Enter your name:")
reverse = ""
for i in name:
 reverse = i + reverse
print(reverse)

Enter your name:alina
anila

In [ ]:
n = int(input("Enter the number of rows:"))
for i in range(n, 0 , -1):
 print("$" * i)

Enter the number of rows:7
$$$$$$$
$$$$$$
$$$$$
$$$$
$$$
$$
$

In [ ]:
n = int(input("Enter the number of rows:"))
for i in range(1, n+1):
 print("$" * i)

Enter the number of rows:5
$
$$
$$$
$$$$
$$$$$

In [ ]:
n = int(input("Enter the number of rows:"))
for i in range(1,0,-1):
 print("$" * i)

Enter the number of rows:7
$