<a href="https://colab.research.google.com/github/ALINA-AFZAL/Python-Learning/blob/main/class_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Diamond
#input for number of rows:
rows = int(input("enter number of rows"))

#loop with i variable to print number of "*":
for i in range(1,rows+1):

#s is for spaces:
 s = rows - i

#result:
 print(" "*s, "*"*i)

#loop with i variable to print number of "*":
for i in range(rows-1,0, -1):

#s is for spaces:
 s = rows - i

#result:
 print(" "*s, "*" *i)

enter number of rows4
    *
   **
  ***
 ****
  ***
   **
    *

In [ ]:
#Diamond
#input for number of rows:
rows = int(input("enter number of rows"))

#loop with i variable to print number of "*":
for i in range(1,rows+1):

#s is for spaces:
 s = rows - i

#result:
 print(" "*s + "* "*i)

#loop with i variable to print number of "*":
for i in range(rows-1,0, -1):

#s is for spaces:
 s = rows - i

#result:
 print(" "*s + "* " *i)

enter number of rows3
  *
 * *
* * *
 * *
  *

In [ ]:
#boolean operators / logical operators:
age = int(input("Enter your age: "))
height = float(input("Enter your height:"))

if age>=10 and height>=4.4:
  print("Eligible")
else:
  print("not eligible")

Enter your age: 3
Enter your height:5
not eligible

In [ ]:
#data structure
#list
name = ["mehwish",'alina', "ammar","aliza"]

#printing the list
print(name)

#accessing element through index/position
print(name[1])

#slicing[start:end]
print(name[1:4])

['mehwish', 'alina', 'ammar', 'aliza']
alina
['alina', 'ammar', 'aliza']

In [ ]:
#add an element in the list
name.append("jaweria")
print(name)

['mehwish', 'alina', 'ammar', 'aliza', 'jaweria', 'jaweria']

In [ ]:
# Diamond pattern
rows = int(input("Enter number of rows: "))

# Upper part of the diamond
for i in range(1, rows + 1):
    s = rows - i
    print(" " * s + "*" * (2 * i - 1))

# Lower part of the diamond
for i in range(rows - 1, 0, -1):
    s = rows - i
    print(" " * s + "*" * (2 * i - 1))

Enter number of rows: 3
  *
 ***
*****
 ***
  *